/* Responsividade */
@media (max-width: 3000px) {
    .container-card {
        max-width: 870px;
        margin: 0 650px;
    }
}

@media (max-width: 1400px) {
    .container-card {
        max-width: 866px;
        margin: 0 150px;
    }
}

@media (max-width: 1200px) {
    .container-card {
        max-width: 570px;
        margin: 0 140px;
    }
}

@media (max-width: 992px) {
    .container-card {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container-card {
        max-width: 262px;
        margin: 0 100px;
    }
    .straight {
        height: 40%;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 0 30px;
    }

    .menu:hover, section.menu.expanded {
        width: 60px;
        overflow: hidden;
    }

    .span-menu { 
        display: none;
    }

    .straight {
        height: 50%;
    }

    .box .content p {
        font-size: 9px;
    }

    section .container-card {
        margin: 0 auto;
    }

    .card-projects {
        margin: 10px 0;
        width: 230px;
    }

    .arrow-left {
        display: none;
    }

    .arrow-right {
        display: none;
    }

    .projects {
        flex-direction: column;
    }

    .qualification__data {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:350px) {
    .container-qualification {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .qualification__data {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:569px) {
    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .menu-mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .qualification__data {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:568px) {
    .menu {
        display: none;
    }
    
    .above {
        padding: 0 20px;
    }

    .section-qualification {
        padding: 3rem 0 0;
    }

    .title-purple {
        margin-bottom: 0;
    }

    .contacts-text {
        margin-top: 25px;
    }

    .body {
        padding-left: 0;
    }

    .menu-mobile {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 25px;
        display: flex;
        border-radius: 14% 14% 0 0;
        align-items: center;
        justify-content: space-between;
        background: #1A1B28;
        height: 75px;
    
        z-index: 99;
    }

    .menu-mobile .list-menu-mobile {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .menu-mobile .list-menu-mobile a {
        font-size: 12px;
        margin: 10px;
        color: #fd3675;
        text-decoration: none;
    }

    .menu-mobile .list-menu-mobile a ion-icon {
        display: block;
        margin: 20px auto 8px;
    }

    .style-icon {
        width: 20px;
        height: 20px;
    }

    .qualification__data {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px) {
    .container-qualification {
        margin-left: auto;
        margin-right: auto;
    }

    .section-qualification {
        padding: 6rem 0 2rem;
    }

    .qualification__tabs {
        justify-content: center;
    }

    .qualification__button {
        margin: 0 var(--mb-1);
    }

    .qualification__sections {
        grid-template-columns: .5fr;
    }

    .qualification__data {
        margin: 0;
    }
}
