@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --pink-dark: #ff4a836b;
    --first-color: #ef32d9;
    --title-pink: #fd3675;
    --second-color: #89fffd;
    --size: 100px;
    --speed: 4s;
    --black-body: #0C0D14;
    --black-nav: #1A1B28;
}

body {
    background: var(--black-body);
    overflow-x: hidden!important;
}

.body {
    padding-left: 65px;
    padding-top: 80px;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 100%;
    top: 0;
    background: var(--black-nav);
    height: 60px;

    z-index: 99;
}

html {
    scroll-behavior: smooth;
}

.ovfl-hdd {
    overflow: hidden;
}

.font-size__title {
    font-size: calc(18px + .3vw)!important;
}

.ps-rl {
    position: relative;
}

.sidebar {
    position: fixed;
    width: 15.625rem;
    margin-top: 60px;
    padding-top: 10px;
    height: 100%;
    left: 0;
    background: var(--black-body);
    border-right: 1px solid #28293D;
    transition: 0.5s;
    transition-property: left;

    z-index: 900;
}

.nav__title__color h3 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 800;
}

.nav__title__color span {
    color: var(--title-pink);
}

.sidebar .sidebar_image {
    width: 50%;
    height: 5%;
    max-width: 100%;
    min-width: 50%;
    object-fit: cover;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 40%;
}

.sidebar .sidebar_image:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    object-fit: cover;
}

.sidebar h2 {
    color: var(--title-pink);
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar a {
    color: #6842FF;
    display: block;
    width: 100%;
    line-height: 3.2rem;
    text-decoration: none;
    padding-left: 2.2rem;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    font-weight: 500;
}

.sidebar a:hover {
    background: white;
}

.sidebar ion-icon {
    padding-right: 0.625rem;
    color: #6842FF;
    font-size: 1.3rem; 
    width: 2rem;
    vertical-align: sub;
}

label #sidebar_btn {
    z-index: 1;
    position: fixed;
    left: 2rem;
    color: #6842FF;
    font-size: 1.563rem;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #ba55d3;
}

#check:checked ~ .sidebar {
    left: -11.875rem;
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~ .sidebar a {
    font-size: 1.25rem;
    margin-left: 10.625rem;
    width: 5rem;
}

#check {
    display: none;
}

h1 {
    font-size: 34px;
    color: #fd3675;
}

.title-purple {
    color: var(--title-pink);
    margin-bottom: 30px;
    font-weight: 800;
}

h1, h2 {
    margin: 0;
    font-weight: 500;
}

.title {
    color: #fd3675;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    color: white;
}

.straight {
    border: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 3px;
    background: #8a4a88;
}

.ajust-in-line {
    height: 58%;
}

.u-m-20 {
    margin: 0 20px;
}

.aboutme-title {
    margin: 0 10px;
}

.myStory .img-container  {
    text-align: center;
    top: 40px;
}

.myStory .img-container img {
    width: 50%;
    max-width: 100%;
    min-width: 60%;
    height: 100%;
    object-fit: cover;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.img-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    object-fit: cover;
}

.about-me h2 {
    color: #6b9aff;
}

.about__card {
    background: #ff005191;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    cursor: default;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 14px;
    text-align: center;
    transition: all 400ms ease;
}

.about__card ion-icon {
    color: #d8bfd8;
    width: 20px;
    height: 20px;
}

.about__card h5 {
    color: #d8bfd8;
    margin: 0 10px;
    font-size: 12px;
}

.service h2 {
    font-weight: 800;
}

.service img {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
}

.service h3 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #9d98ff;   
}

.service .service-card {
    background: #2f303438;
    border: 1px solid #5344ff;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.185) -6px -2px 16px 0px;

    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service .service-card ion-icon {
    margin-bottom: 40px;
    height: 50px;
    width: 90px;
    color: white;
}

.projects {
    display: flex;
    scroll-behavior: smooth;
}

section .container-card {
    position: relative;
}

.arrow {
    position: absolute;
    scroll-behavior: smooth;
    top: calc(50% - 25px);
    z-index: 95;
}

.arrow svg {
    width: 40px;
    height: 40px;
    color: #fff;
}

.arrow-left {
    left: 0;
    transform: translateX(-60px);
}

.arrow button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.arrow-right {
    top: 0;
    right: 0;
    transform: translateX(60px);
    top: calc(50% - 25px);
}

section .card-projects .imageCard-projects {
    width: 200px;
    height: 120px;
    padding: 3px;
    border-radius: 30px;
    background: hsl(245, 75%, 52%);
}

section .card-projects .imageCard-projects img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 30px;
    border: 3px solid #fff;
}

.card-projects {
    position: relative;
    background: #2f303438;
    border-radius: 20px;
    margin: 10px 20px;
    width: 420px;
    border: 1px solid hsl(245, 75%, 52%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
}

.card-projects:first-child {
    margin-left: 0;
}

.card-projects:last-child {
    margin-right: 0;
}

.card-projects::before {
    content: "";
    position: absolute;
    height: 28%;
    width: 100%;
    background: hsl(245, 75%, 52%);
    border-radius: 20px 20px 0 0;
}

.card-projects .cardContent-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 30px 30px;
    position: relative;
    z-index: 90;
}

.card-projects .name-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin-top: 14px;
}

.card-projects .difficulty-level {
    margin-top: 5px;
} 

.card-projects .difficulty-level svg {
    fill: yellow;
    width: 25px;
    height: 25px;
}

.name-projects span {
    color: #fff;
}

.name-projects .name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.Desc-difficulty-level {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
} 

.Desc-difficulty-level-2 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 28px;
}

.Desc-difficulty-level-3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 42px;
} 

.Desc-difficulty-level-4 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 48px;
}  

.name-projects .development {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.card-projects .github {
    top: 14px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    background: hsl(245, 75%, 52%);
    padding: 10px 30px;
    cursor: pointer;
}

.box {
    height: 250px;
    border: 1px solid hsl(245, 75%, 52%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.box h2 {
    font-size: 20px;
    color: #fff;
}

.box svg {
    position: absolute;
    width: 150px;
    height: 120px;
    object-fit: cover;
    top: 60%;
    left: 48%;
    fill: #5E17EB;
    transform: translate(-45%, -60%);
    font-size: 8rem;
    transition: .5s ease-in-out;
}

.box:hover svg {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 30px;
    height: 30px;
    font-size: 3rem;
    transform: translate(90px, -160px);
}

.box .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: .5s ease-in-out;
    padding: 70px 20px;
}

.box .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #513eff36;
}

.box:hover .content {
    transform: translate(100%);
}

.box .content p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

.contacts-text {
    font-size: 30px;
    background: -webkit-linear-gradient(#D1C4E9, #5b51ce);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.contacts-paragh {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-texts {
    position: absolute;
    padding: 0 60px;
    margin-top: 40px;
    margin-right: 200px;
}

.nav-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.border-box {
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    cursor: pointer;
    transition: all 1s ease;
}

.border-box-linkedin:hover {
    width: 160px;
    background: #0e76a8;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #258ad377;
}

.border-box-instagram:hover {
    width: 160px;
    border-radius: 35px;
    color: #fff;
    background-color: #c32aa3;
    box-shadow: 0 0 50px #b315917c;
}

.border-box-github:hover {
    width: 160px;
    border-radius: 35px;
    color: #fff;
    background-color: rgb(94, 34, 131);
    box-shadow: 0 0 50px #b315917c;
}

.border-box-email:hover {
    width: 160px;
    border-radius: 35px;
    color: #fff;
    background-color: #C71610;
    box-shadow: 0 0 50px #b6211c;
}

.nav-contacts p {
    margin-bottom: 0;
    transform: translate(60px);
}

.border-box .icon {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 1s ease;
}

.github {
    background-color: rgb(94, 34, 131);
}

.linkedin {
    background-color: #0e76a8;
}

.instagram {
    background-color: #c32aa3;
}

.email {
    background-color: #C71610;
}

.border-box ion-icon {
    width: 30px;
    height: 30px;
}

footer {
    margin-bottom: 30px;
}

.ajust-in-sidebar {
    display: block;
    text-align: center;
}

/* Responsividade */
@media (max-width: 3000px) {
    .container-card {
        max-width: 1178px;
        margin: 0 650px;
    }
}

@media (max-width: 1400px) {
    .container-card {
        max-width: 866px;
        margin: 0 150px;
    }
}

@media (max-width: 1200px) {
    .container-card {
        max-width: 866px;
        margin: 0 140px;
    }
}

@media (max-width: 992px) {
    .container-card {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container-card {
        max-width: 262px;
        margin: 0 210px;
    }
    .straight {
        height: 40%;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 0 30px;
    }

    .ajust-in-sidebar {
        display: none;
    }

    .sidebar {
        width: 3rem;
        padding-top: 150px;
    }

    .sidebar a {
        padding-left: 0.625rem;
    }

    .sidebar a span {
        display: none;
    }

    label #sidebar_btn {
        display: none;
    }
    
    .straight {
        height: 50%;
    }

    .box .content p {
        font-size: 9px;
    }

    section .container-card {
        margin: 0 60px;
    }

    .card-projects {
        margin: 10px 0;
        width: 230px;
    }

    .arrow-left {
        display: none;
    }

    .arrow-right {
        display: none;
    }

    .projects {
        flex-direction: column;
    }
}