@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {

    --pink-dark: #ff4a836b;
    --first-color: #ef32d9;
    --title-pink: #fd3675;
    --second-color: #89fffd;
    --size: 100px;
    --speed: 4s;
    --black-body: #0C0D14;
    --black-nav: #1A1B28;

    --header-height: 3rem;

    --hue-color: 250; 

    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section-qualification {
    padding: 2rem 0 4rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: var(--black-body);
    overflow-x: hidden!important;
}

.body {
    padding-left: 65px;
    padding-top: 80px;
}

.above {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 100%;
    top: 0;
    background: var(--black-nav);
    height: 60px;

    z-index: 99;
}

.container-qualification {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.ovfl-hdd {
    overflow: hidden;
}

.font-size__title {
    font-size: calc(18px + .3vw)!important;
}

.ps-rl {
    position: relative;
}

ul {
    padding-left: 0;
}

.menu {
	background-color: var(--black-body);
    border-right: 1px solid #28293D;
	position: fixed;
	overflow: hidden;
	height: 100vh;
	top: 60px;
	bottom: 0;
	left: 0;
    line-height: 2.8rem;
	width: 60px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-transform: translateZ(0) scale(1,1);
	transform: translateZ(0) scale(1,1);

    z-index: 900;
}

.menu > ul {
	margin: 100px 0;
}

.menu li > a {
	position: relative;
	width: 255px;
	color: #6842FF;
	display: table;
	font-size: 16px;
	text-decoration: none;
	-webkit-transform: translateZ(0) scale(1,1);
	transform: translateZ(0) scale(1,1);
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.menu .span-menu {
	color: #6842FF;
    display: block;
    width: 100%;
    line-height: 3.2rem;
    text-decoration: none;
    padding-left: 2.2rem;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    font-weight: 500;
}

.lista {
	background-color: #131313;
	text-transform: capitalize;
}

.lista-logo, .li-empresa, .li-contato {
	text-transform: capitalize;
}

.menu li:hover a, section.menu li.active > a {
	color: #fff;
	background-color: #282828;
}

.menu ion-icon {
    padding-right: 0.625rem;
    color: #6842FF;
    font-size: 1.3rem;
    width: 3.8rem;
    vertical-align: sub;
}

.menu:hover, section.menu.expanded {
	width: 250px;
	overflow: hidden;
}

.menu h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 800;
}

.nav__title__color h3 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 800;
}

.nav__title__color span {
    color: var(--title-pink);
}

h1 {
    font-size: 34px;
    color: #fd3675;
}

.title-purple {
    color: var(--title-pink);
    margin-bottom: 30px;
    font-weight: 800;
}

h1, h2 {
    margin: 0;
    font-weight: 500;
}

.title {
    color: #fd3675;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    color: white;
}

.straight {
    border: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 3px;
    background: #8a4a88;
}

.ajust-in-line {
    height: 53%;
}

.u-m-20 {
    margin: 0 20px;
}

.aboutme-title {
    margin: 0 10px;
}

.myStory .img-container  {
    text-align: center;
    top: 40px;
}

.myStory .img-container img {
    width: 50%;
    max-width: 100%;
    min-width: 60%;
    height: 100%;
    object-fit: cover;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.img-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    object-fit: cover;
}

.about-me h2 {
    color: #6b9aff;
}

.about__card {
    background: #ff005191;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    cursor: default;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 14px;
    text-align: center;
    transition: all 400ms ease;
}

.about__card ion-icon {
    color: #d8bfd8;
    width: 20px;
    height: 20px;
}

.about__card h5 {
    color: #d8bfd8;
    margin: 5px 10px;
    font-size: 12px;
}

.service h2 {
    font-weight: 800;
}

.service img {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
}

.service h3 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #9d98ff;   
}

.service .service-card {
    background: #2f303438;
    border: 1px solid #5344ff;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.185) -6px -2px 16px 0px;

    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service .service-card ion-icon {
    margin-bottom: 40px;
    height: 50px;
    width: 90px;
    color: white;
}

.projects {
    display: flex;
    scroll-behavior: smooth;
}

section .container-card {
    position: relative;
}

.arrow {
    position: absolute;
    scroll-behavior: smooth;
    top: calc(50% - 25px);
    z-index: 95;
}

.arrow svg {
    width: 40px;
    height: 40px;
    color: #fff;
}

.arrow-left {
    left: 0;
    transform: translateX(-60px);
}

.arrow button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.arrow-right {
    top: 0;
    right: 0;
    transform: translateX(60px);
    top: calc(50% - 25px);
}

.fs-9 {
    font-size: 6px;
}

section .card-projects .imageCard-projects {
    width: 200px;
    height: 120px;
    padding: 3px;
    border-radius: 30px;
    background: hsl(245, 75%, 52%);
}

section .card-projects .imageCard-projects img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 30px;
    border: 3px solid #fff;
}

.card-projects {
    position: relative;
    background: #2f303438;
    border-radius: 20px;
    margin: 10px 20px;
    width: 420px;
    border: 1px solid hsl(245, 75%, 52%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
}

.card-projects:first-child {
    margin-left: 0;
}

.card-projects:last-child {
    margin-right: 0;
}

.card-projects::before {
    content: "";
    position: absolute;
    height: 28%;
    width: 100%;
    background: hsl(245, 75%, 52%);
    border-radius: 20px 20px 0 0;
}

.card-projects .cardContent-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 30px 30px;
    position: relative;
    z-index: 90;
}

.card-projects .name-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin-top: 14px;
}

.card-projects .difficulty-level {
    margin-top: 5px;
} 

.card-projects .difficulty-level svg {
    fill: yellow;
    width: 25px;
    height: 25px;
}

.name-projects span {
    color: #fff;
}

.name-projects .name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.Desc-difficulty-level {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
} 

.Desc-difficulty-level-2 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 28px;
}

.Desc-difficulty-level-3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 42px;
} 

.Desc-difficulty-level-4 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 48px;
}  

.name-projects .development {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.card-projects .github {
    top: 14px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    background: hsl(245, 75%, 52%);
    padding: 10px 30px;
    cursor: pointer;
}

.box {
    height: 250px;
    border: 1px solid hsl(245, 75%, 52%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.box h2 {
    font-size: 20px;
    color: #fff;
}

.box svg {
    position: absolute;
    width: 150px;
    height: 120px;
    object-fit: cover;
    top: 60%;
    left: 48%;
    fill: #5E17EB;
    transform: translate(-45%, -60%);
    font-size: 8rem;
    transition: .5s ease-in-out;
}

.box:hover svg {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 30px;
    height: 30px;
    font-size: 3rem;
    transform: translate(90px, -160px);
}

.box .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: .5s ease-in-out;
    padding: 52px 20px;
}

.box .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #513eff36;
}

.box:hover .content {
    transform: translate(100%);
}

.box .content p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

.contacts-text {
    font-size: 30px;
    background: -webkit-linear-gradient(#D1C4E9, #5b51ce);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.contacts-paragh {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-texts {
    position: absolute;
    padding: 0 60px;
    margin-top: 40px;
    margin-right: 200px;
}

.nav-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.border-box {
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    cursor: pointer;
    transition: all 1s ease;
}

.border-box-linkedin:hover {
    width: 160px;
    background: #0e76a8;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #258ad377;
}

.border-box-instagram:hover {
    width: 160px;
    border-radius: 35px;
    color: #fff;
    background-color: #c32aa3;
    box-shadow: 0 0 50px #b315917c;
}

.border-box-github:hover {
    width: 160px;
    border-radius: 35px;
    color: #fff;
    background-color: rgb(94, 34, 131);
    box-shadow: 0 0 50px #b315917c;
}

.border-box-email:hover {
    width: 160px;
    border-radius: 35px;
    color: #fff;
    background-color: #C71610;
    box-shadow: 0 0 50px #b6211c;
}

.nav-contacts p {
    margin-bottom: 0;
    transform: translate(60px);
}

.border-box .icon {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 1s ease;
}

.github {
    background-color: rgb(94, 34, 131);
}

.linkedin {
    background-color: #0e76a8;
}

.instagram {
    background-color: #c32aa3;
}

.email {
    background-color: #C71610;
}

.border-box ion-icon {
    width: 30px;
    height: 30px;
}


.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
    text-align: center;
}

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-3);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: #6842FF;
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: #fff;
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--first-color);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: #6842FF;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.contact li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.contact li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.contact li:hover::before {
    opacity: 1;
    z-index: -1;
}

.contact li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    filter: blur(15px);
}

.contact li:hover::after {
    opacity: 0,5;
}

.contact li i {
    color: #fff;
    font-size: 1.75rem !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.contact li:hover i {
    transform: scale(0);
    font-size: 1.75rem;
    transition-delay: 0.25s;
}

.contact li span {
    position: absolute;
}

.contact li .titulo {
    color: #fff;
    font-size: 1.1rem !important;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.contact li:hover .titulo {
    transform: scale(1);
    transition-delay: 0.25s;
}





footer {
    margin-bottom: 30px;
}

.ajust-in-sidebar {
    display: block;
    text-align: center;
}
