@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --pink-dark: #ff4a836b;
    --first-color: #ef32d9;
    --title-pink: #ff266a;
    --second-color: #89fffd;
    --size: 100px;
    --speed: 4s;
    --black-body: #0C0D14;
    --black-nav: #1A1B28;
}

body {
    background: var(--black-body);
}

nav {
    position: fixed;
    background: var(--black-nav);
    padding: 1.25rem;
    width: 100%;
    height: 4rem;

    z-index: 99;
}

html {
    scroll-behavior: smooth;
}

.jt-cot_str {
    display: flex;
    justify-content: flex-start;
}

.jt-cot_ctr {
    display: flex;
    justify-content: center;
}

.ovfl-hdd {
    overflow: hidden;
}

.ps-rl {
    position: relative;
}

.hamburger-menu_left {
    text-align: start;
    margin: 0 80px;
}

.hamburger-menu_left h3 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 800;
}

.hamburger-menu_left span {
    color: var(--title-pink);
}

.sidebar {
    position: fixed;
    width: 15.625rem;
    height: 100%;
    margin-top: 4rem;
    padding-top: 1rem;
    left: 0;
    background: var(--black-body);
    border-right: 1px solid #28293D;
    transition: 0.5s;
    transition-property: left;

    z-index: 900;
}

.sidebar .sidebar_image {
    width: 50%;
    height: 5%;
    max-width: 100%;
    min-width: 50%;
    object-fit: cover;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 40%;
}

.sidebar .sidebar_image:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    object-fit: cover;
}

.sidebar h2 {
    color: var(--title-pink);
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar a {
    color: #6842FF;
    display: block;
    width: 100%;
    line-height: 3.2rem;
    text-decoration: none;
    padding-left: 2.2rem;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    font-weight: 500;
}

.sidebar a:hover {
    background: white;
}

.sidebar ion-icon {
    padding-right: 0.625rem;
    color: #6842FF;
    font-size: 1.3rem; 
    width: 2rem;
    vertical-align: sub;
}

label #sidebar_btn {
    z-index: 1;
    position: fixed;
    left: 2rem;
    color: #6842FF;
    font-size: 1.563rem;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #ba55d3;
}

#check:checked ~ .sidebar {
    left: -11.875rem;
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~ .sidebar a {
    font-size: 1.25rem;
    margin-left: 10.625rem;
    width: 5rem;
}

#check {
    display: none;
}

h1 {
    font-size: 34px;
    color: #fd3675;
}

.title-purple {
    font-weight: 800;
}

h1, h2 {
    margin: 0;
    font-weight: 500;
}

.title-myStory {
    color: #fd3675;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    color: white;
}

.card {
    border: none;
    position: absolute;
    width: 3px;
    padding: 1px;
    height: 15.8rem;
    background: #8a4a88;
}

.u-m-20 {
    margin: 0 20px;
}

.aboutme-title {
    margin: 0 10px;
}

.about-me {
    display: flex;
    padding: 140px 110px 0 120px;
}

.about-me .container h1 {
    margin-bottom: 20px;
}

.myStory::before {
    max-width: 100%;
}

.myStory {
    display: flex;
    height: 580px;
    padding: 48px 100px 0;
}

.myStory .container-myStory {
    width: 50%;
    padding: 70px 35px 0;
}

.myStory .img-container  {
    width: 60%;
    text-align: center;
    top: 40px;
}

.myStory .img-container img {
    width: 60%;
    max-width: 100%;
    min-width: 60%;
    height: 100%;
    object-fit: cover;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.img-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    object-fit: cover;
}

.about-me .container h2 {
    color: #6b9aff;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about__cards {
    align-items: center;
    margin-top: 15px;
}

.about__card {
    background: #ff005191;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    cursor: default;
    width: 120px;
    height: 90px;
    margin: 10px;
    padding: 0.5rem 0;
    font-size: 14px;
    text-align: center;
    transition: all 400ms ease;
}

.about__card ion-icon {
    color: #d8bfd8;
    width: 20px;
    height: 20px;
}

.about__card h5 {
    color: #d8bfd8;
    margin: 0 10px;
}

.service {
    height: 520px;
    text-align: center;
    padding: 80px 350px;
    margin-bottom: 38px;
}

.service h1 {
    padding: 30px 10px 20px 10px;
    font-weight: 800;
}

.service img {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
}

.service .services-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 0;
    margin-top: 50px;
}

.service h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #9d98ff;   
}

.service .services-container .service-card {
    max-width: 360px;
    background: #2f303438;
    border: 1px solid #5344ff;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.185) -6px -2px 16px 0px;
    padding: 30px 25px;

    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service .services-container .service-card ion-icon {
    margin-bottom: 40px;
    height: 50px;
    width: 90px;
    color: white;
}

.service-card + .service-card {
    margin-left: 70px;
}

.title {
    padding: 70px 30px 18px 20px;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: center;
}

section .container-card {
    position: relative;
    max-width: 866px;
    margin: 0 195px;
}

.projects {
    display: flex;
    scroll-behavior: smooth;
}

.arrow {
    position: absolute;
    scroll-behavior: smooth;
    top: calc(50% - 25px);
    z-index: 800;
}

.arrow svg {
    width: 40px;
    height: 40px;
    color: #fff;
}

.arrow-left {
    left: 0;
    transform: translateX(-60px);
}

.arrow button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.arrow-right {
    top: 0;
    right: 0;
    transform: translateX(60px);
    top: calc(50% - 25px);
}

section .card-projects .imageCard-projects {
    width: 200px;
    height: 120px;
    padding: 3px;
    border-radius: 30px;
    background: hsl(245, 75%, 52%);
}

section .card-projects .imageCard-projects img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 30px;
    border: 3px solid #fff;
}

.card-projects {
    position: relative;
    background: #2f303438;
    border-radius: 20px;
    margin: 10px 20px;
    width: 420px;
    border: 1px solid hsl(245, 75%, 52%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
}

.card-projects:first-child {
    margin-left: 0;
}

.card-projects:last-child {
    margin-right: 0;
}

.card-projects::before {
    content: "";
    position: absolute;
    height: 28%;
    width: 100%;
    background: hsl(245, 75%, 52%);
    border-radius: 20px 20px 0 0;
}

.card-projects .cardContent-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 30px 30px;
    position: relative;
    z-index: 90;
}

.card-projects .name-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin-top: 14px;
}

.card-projects .difficulty-level {
    margin-top: 5px;
} 

.card-projects .difficulty-level svg {
    fill: yellow;
    width: 25px;
    height: 25px;
}

.name-projects span {
    color: #fff;
}

.name-projects .name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.Desc-difficulty-level {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
} 

.Desc-difficulty-level-2 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 28px;
}

.Desc-difficulty-level-3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 42px;
} 

.Desc-difficulty-level-4 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 48px;
}  

.name-projects .development {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.card-projects .github {
    top: 14px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    background: hsl(245, 75%, 52%);
    padding: 10px 30px;
    cursor: pointer;
}

.container-knowledge {
    padding: 40px 140px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.box {
    width: 230px;
    height: 250px;
    border: 1px solid hsl(245, 75%, 52%);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.box h2 {
    font-size: 20px;
    color: #fff;
}

.box svg {
    position: absolute;
    width: 150px;
    height: 120px;
    object-fit: cover;
    top: 60%;
    left: 48%;
    fill: #5E17EB;
    transform: translate(-45%, -60%);
    font-size: 8rem;
    transition: .5s ease-in-out;
}

.box:hover svg {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 30px;
    height: 30px;
    font-size: 3rem;
    transform: translate(90px, -160px);
}

.box .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: .5s ease-in-out;
    padding: 70px 20px;
}

.box .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #513eff36;
}

.box:hover .content {
    transform: translate(100%);
}

.box .content p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

.contacts {
    padding: 0 150px;
    text-align: center;
}

.contacts .container-contacts {
    display: flex;
    margin: 50px 90px;
    max-width: 1400px;
}

.contacts .container-contacts .content-contacts {
    margin-top: 40px;
    margin-left: 20px;
    text-align: left;
}

.contacts .container-contacts img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.contacts-text {
    font-size: 30px;
    background: -webkit-linear-gradient(#D1C4E9, #5b51ce);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.contacts-paragh {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-texts {
    position: absolute;
    padding: 0 60px;
    margin-top: 40px;
    margin-right: 200px;
}

.border-box {
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    cursor: pointer;
    transition: all 1s ease;
}

.border-box:hover {
    width: 160px;
    background: #0e76a8;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #258ad377;
}

.border-box:nth-child(2):hover {
    background-color: #c32aa3;
    box-shadow: 0 0 50px #b315917c;
}

.border-box:nth-child(3):hover {
    background-color: rgb(94, 34, 131);
    box-shadow: 0 0 50px #b315917c;
}

.border-box:nth-child(4):hover {
    background-color: #C71610;
    box-shadow: 0 0 50px #b6211c;
}

.nav-contacts p {
    transform: translate(60px);
}

.border-box .icon {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 1s ease;
}

.github {
    background-color: rgb(94, 34, 131);
}

.linkedin {
    background-color: #0e76a8;
}

.instagram {
    background-color: #c32aa3;
}

.email {
    background-color: #C71610;
}

.border-box ion-icon {
    width: 30px;
    height: 30px;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

/* Responsividade */

/* Small desktops */
@media (max-width: 1024px) {

    .sidebar center {
        display: none;
    }

    .sidebar {
        height: 1000px;
        padding-top: 110px;
    }

    .card {
        height: 14.5rem;
    }

    .about__card {
        width: 200px;
        margin: 5px;
    }

    .about-me {
        padding: 130px 110px 0 120px;
    }

    .about-me .container {
        padding-right: 0;
    }

    .about-me .container p {
        width: 500px;
    }

    .myStory .container-myStory {
        padding: 70px 0;
    }

    .myStory .img-container   {
        top: 90px;
    }

    .myStory .img-container img  {
        height: 90%;
        width: auto;
    }

    .service {
        padding: 50px 150px;
        margin-bottom: 40px;
        margin-top: 50px;
    }

    section .container-card  {
        max-width: 58%;
        margin: 0 230px;
    }

    .arrow-left {
        left: 0;
        transform: translateX(-55px);
    }
    
    .arrow-right {
        top: 0;
        right: 0;
        transform: translateX(55px);
        top: calc(50% - 25px);
    }

    .card-projects:first-child {
        margin-left: 0;
    }
    
    .card-projects:last-child {
        margin-right: 0;
    }
    
    .container-knowledge {
        padding: 40px 130px;
    }

    .contacts {
        padding: 20px;
    }

    .title {
        padding: 80px 30px 18px 20px;
    }

    .title-edit {
        padding: 10px 30px 18px 20px;
    }
}

/* Tablet */
@media (max-width: 767px) {
    nav {
        height: 3rem;
        padding: 15px;
    }

    label #sidebar_btn {
        font-size: 25px;
    }

    .hamburger-menu_left h3 {
        font-size: 18px;
    }

    .sidebar {
        margin-top: 49px;
    }

    .about-me {
        padding: 100px 110px 0 120px;
    }

    .about-me .container p {
        width: 400px;
    }

    .about__card {
        width: 300px;
        margin: 10px;
    }

    .about__card-mid h5 {
        text-align: center;
        width: 80px;
    }

    .card {
        height: 15.5rem;
    }

    .myStory .container-myStory {
        width: 90%;
        padding: 50px 0;
    }

    .myStory .img-container {
        top: 0;
    }

    .myStory .img-container img {
        margin-left: 150px;
    }

    .myStory {
        display: flex;
        flex-direction: column;
        margin-bottom: 360px;
    }

    .myStory .container-myStory p {
        text-align: start;
    }

    .service {
        margin-bottom: 300px;
        padding: 50px 230px;
    }

    .service .services-container {
        display: flex;
        flex-direction: column;
    }

    .service-card + .service-card {
        margin-top: 50px;
        margin-left: 0;
    }

    .title-edit {
        padding: 20px 30px 18px 20px;
    }

    section .container-card {
        max-width: 262px;
        margin: 0 245px;
    }

    .arrow-left {
        left: 0;
        transform: translateX(-55px);
    }

    .arrow-right {
        top: 0;
        right: 0;
        transform: translateX(55px);
        top: calc(50% - 25px);
    }

    .contacts {
        padding: 0;
    }
}


/* Celular */

@media (max-width: 480px) {
    .about-me .container {
        width: 300px;
    }

    body {
        margin-bottom: calc(75px + 50px);
    }

    nav {
        display: none;
    }

    .sidebar {
        width: 3rem;
        height: 2000px;
        margin-top: 0;
    }

    .sidebar a span {
        display: none;
    }

    .sidebar a {
        padding-left: 0.625rem;
    }

    .about-me {
        padding: 100px 110px 0 70px;
    }

    .about__cards {
        display: flex;
        flex-direction: column;
        margin-right: 60px;
    }

    .about__card {
        width: 120px;
    }

    .card {
        height: 22rem;
    }

    .myStory .container-myStory {
        width: 270px;
    }

    .about-me .container p {
        width: 250px;
    }

    .myStory .img-container {
        width: 70%;
    }

    .myStory .img-container img {
        display: none;
    }

    .myStory {
        padding: 48px 70px 0;
        margin-bottom: 120px;
    }

    .service {
        padding: 20px 80px;
    }

    .service .service-card {
        width: 250px;
    }

    .service h1 {
        padding: 0 10px 20px 15px;
    }

    section .container-card {
        margin: 0 80px;
    }

    .card-projects {
        margin: 30px 0;
        width: 250px;
    }

    .arrow-left {
        display: none;
    }

    .arrow-right {
        display: none;
    }

    section .projects {
        width: 800px;
    }

    .title-edit {
        padding: 190px 30px 0 45px;
    }

    .projects {
        display: block;
    }

    .title {
        padding: 40px 30px 0 30px;
    }

    .container-knowledge {
        padding: 40px 100px;
    }

    .contacts .container-contacts img {
        margin-left: 15px;
        width: 200px;
        height: 250px;
    }

    .contacts .container-contacts {
        display: flex;
        flex-direction: column;
    }

    .contacts .container-contacts .content-contacts {
        margin-left: 0;
        margin-top: 20px;
    }

    .nav-contacts {
        display: flex;
        flex-wrap: wrap;
    }

    .ajust-conhecimentos {
        padding: 30px 80px;
    }
    
    footer {
        font-size: 14px;
        margin-left: 10px;
    }
}